/SocialMediaDraft.API/obj
/SocialMediaDraft.API/bin
/SocialMediaDraft.Commom/bin
/SocialMediaDraft.Commom/obj
/SocialMediaDraft.User.Api/bin
/SocialMediaDraft.User.Api/obj
/SocialMediaDraft.User.Infrasctructure/bin
/SocialMediaDraft.User.Infrasctructure/obj
/SocialMediaDraft.User.Models/obj
/SocialMediaDraft.User.Models/bin
